<div class="flex justify-center">
  <div class="container">
    <div class="card">
      <p-menubar [model]="items">
        <ng-template #start>
          <div class="flex flex-row items-center me-4">
            <i
              class="pi pi-building-columns me-2"
              style="font-size: 1.5rem"
            ></i>
            <h1 class="font-bold">UAS-Finance</h1>
          </div>
        </ng-template>

        <ng-template #item let-item>
          <ng-container *ngIf="item.route; else urlRef">
            <a [routerLink]="[item.route]" class="p-menubar-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-container>
          <ng-template #urlRef>
            <a
              *ngIf="item.url; else noLink"
              [href]="item.url"
              class="p-menubar-item-link"
            >
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
            </a>
          </ng-template>
          <ng-template #noLink>
            <div class="p-menubar-item-link">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <span class="pi pi-fw pi-angle-down ml-2"></span>
            </div>
          </ng-template>
        </ng-template>
      </p-menubar>
    </div>

    <router-outlet />
  </div>
</div>
